# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: product-service
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs18.x

# you can overwrite defaults here
  stage: dev
  region: eu-north-1
  httpApi:
    cors: true

# you can add statements to the Lambda function's IAM Role here
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "dynamodb:*"
          Resource:
            - arn:aws:dynamodb:eu-north-1:782876982008:table/stocks
            - arn:aws:dynamodb:eu-north-1:782876982008:table/products
        - Effect: Allow
          Action:
            - "sqs:*"
          Resource:
            Fn::GetAtt:
              - catalogItemsQueue
              - Arn
        - Effect: "Allow"
          Action:
            - "sns:*"
          Resource:
            Fn::GetAtt:
              - ProductTopic
              - Arn


#        - Effect: "Allow"
#          Action:
#            - "s3:PutObject"
#          Resource:
#            Fn::Join:
#              - ""
#              - - "arn:aws:s3:::"
#                - "Ref" : "ServerlessDeploymentBucket"
#                - "/*"

# you can define service wide environment variables here
  environment:
    TABLE_PRODUCTS: products
    TABLE_STOCKS: stocks
    SQS_URL:
      Ref: catalogItemsQueue
    SNS_ARN:
      Ref: ProductTopic

# you can add packaging information here
#package:
#  patterns:
#    - '!exclude-me.js'
#    - '!exclude-me-dir/**'
#    - include-me.js
#    - include-me-dir/**

functions:
  getProductsList:
    handler: handler.getProductsList
    events:
      - httpApi:
          path: /products
          method: get

  getProductsById:
    handler: handler.getProductsById
    events:
      - httpApi:
          path: /products/{id}
          method: get

  createProduct:
    handler: handler.createProduct
    events:
      - httpApi:
          path: /products
          method: post

  catalogBatchProcess:
    handler: handler.catalogBatchProcess
    events:
      - sqs:
          arn:
            Fn::GetAtt:
              - catalogItemsQueue
              - Arn
          batchSize: 5
          maximumBatchingWindow: 10

# you can add CloudFormation resource templates here
resources:
  Resources:
    products:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: products
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 5
          WriteCapacityUnits: 5

    stocks:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: stocks
        AttributeDefinitions:
          - AttributeName: product_id
            AttributeType: S
        KeySchema:
          - AttributeName: product_id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 5
          WriteCapacityUnits: 5


    catalogItemsQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: catalogItemsQueue

    ProductTopic:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: createProductTopic

    ProductSubscription:
      Type: AWS::SNS::Subscription
      Properties:
        Protocol: email
        Endpoint: siarhei_kandratsiuk@epam.com
        TopicArn:
          Ref: ProductTopic